.bleu-bg-frame {
  background: #243a5a;
}

.bleu-span {
  color: #1e90ff;
}

.h1-color {
  color: #e6f1ff;
}

.h2-color {
  color: #74c0fc;
}

.p-color {
  color: #e6f1ff;
}

.title-color {
  color: #1e90ff;
}
